/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #EFE9D5;
    
}


a {
    text-decoration: none;
    color: #84e2d9;
}

ul {
    list-style-type: none;
}

h1, h2, h3 {
    color: #333;
    text-align: center;
}

/* Header Styling */
header {
    background: linear-gradient(135deg, #005f73, #0a9396);
    color: white;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
}

header .logo h1 {
    font-size: 28px;
    font-weight: bold;
}

header .nav-links ul {
    display: flex;
    gap: 20px;
}

header nav ul li {
    padding: 10px;
}

header nav ul li a {
    color: white;
    font-size: 18px;
}
.hamburger {
    display: none; /* Hide hamburger button by default */
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  .projects{
    text-align: center;
    
  }
  h1{
    color: #005f73;
    font-size: 40px;
  }
  p1{
    font-size: 22px;
    color: #0a9396;
  }
  img{
    padding: 20px;
  }
  p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
  }

  @media (max-width: 768px) {
    
    header .nav-links {
        display: none; /* Hide the navigation links initially */
        width: 100%;
        flex-direction: column;
        background-color: #333;
        padding: 20px;
      }
    
      header .nav-links.active {
        display: flex; /* Show the navigation links when the hamburger menu is clicked */
      }
    
      header .nav-links li {
        margin-left: 0;
        margin-top: 10px;
      }
    
      .hamburger {
        display: block; /* Show the hamburger button */
      }
    }

    /* footer styling */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
   }
